body{
    margin: 0;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*Sticky header*/
header{
       background-color: white;
       border-bottom: 1px solid #ddd;
       padding: 10px 0;
       position: sticky;
       top: 0;
       z-index: 10000;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/*container*/
.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*logo*/
.logo img{
    height: 50px;
}

/*navigation*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav li {
    position: relative;
}

nav li a, .dropbtn{
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
      background-color: rgb(202,198,198);
}

/*Dropdown-content*/
.content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow:0px 8px 16px rgba(0,0,0,0.2);
    z-index:999;
}

.content a{
    padding:12px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;
}

.content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .content {
    display: block;
}

/*Search bar*/
.bar form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bar input[type="text"] {
    padding: 8px;
    border:1px solid #ccc
}

.bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.bar button img{
    height: 20px;
    width: 20px;
}

/*Banner*/
.banner {
    width: 100%;
    background-color: darkcyan;
    color: #ffffff;
    text-align: center;
   
    padding: 60px 60px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.banner p {
     text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
     margin: 0;
}

/*About heading*/
.abhead {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(56, 42, 42);
}

/*about content*/
.about {
    max-width: 1200px;
    background-color: #f9f9f9;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

.aboutcont {
    display: flex;
    max-width: 1200px;
    width: 100%;
    background-color: #f9f9f9;
    gap: 40px;
    align-items: center;
}

.aboutlogo {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.aboutlogo img {
    max-width: 200%;
    height: auto;
    object-fit: fill;
}

.aboutext h2{
    margin-bottom: 15px;
    font-size: 28px;
    color: rgb(0, 0, 0);
}

.aboutext p{
    font-size: 18px;
    line-height: 1.6;
    color: #555
}

/*service-head*/
.shead{
    text-align: center;
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

/* Service-section*/
.servsec{
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.servcont{
    max-width: 1200px;
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/*Each service box*/
.service-box {
    display: flex;
    align-items: center;
    gap: 30px;
}
/*logo box*/
.service-logo {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0, 4px, 12px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.service-logo:hover {
    transform: scale(1.05);
}

.service-logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

/*service box*/
.service-text h3{
    margin-bottom: 10px;
    font-size: 24px;
    color: #222;
}

.service-text p{
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
/*blog section*/
.blog-section {
    padding: 40px 20px;
}

.blogcont {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.blog-box {
    background: #fff;
    width: 48%;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.blog-box:hover {
    transform: scale(1.05) ;
}

.blog-box img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px;
}

.blog-text h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
.blog-text p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }
  
.blog-link {
    display: block;
  }
  /*footer section*/
  .contact-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact-info p, .contact-info a {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    text-decoration: none;
  }
  
  /* ===== Footer ===== */
  .site-footer {
      background-color: #222;
      color: #fff;
      padding: 40px 20px;
      text-align: center;
    }
    
    .footer-container {
      max-width: 1200px;
      margin: 0 auto;
    }
    
    .footer-content p {
      margin-bottom: 20px;
      font-size: 16px;
      color: #ccc;
    }
    
    .footer-nav {
      list-style: none;
      padding: 0;
      margin: 0 0 20px;
      display: flex;
      justify-content: center;
      /* flex-wrap: wrap; */
      gap: 15px;
    }
    
    .footer-nav li a {
      color: #ccc;
      text-decoration: none;
      font-size: 14px;
      transition: color 0.3s ease;
    }
    
    .footer-nav li a:hover {
      color: #fff;
    }
    
    /* Social Icons */
  .footer-social {
      margin-bottom: 20px;
    }
    
    .footer-social a {
      margin: 0 10px;
      display: inline-block;
    }
    
    .footer-social img {
      width: 24px;
      height: 24px;
      filter: grayscale(100%);
      transition: filter 0.3s ease;
    }
    
    .footer-social img:hover {
      filter: none;
    }
    